{% extends "base.html" %}
{% load static %}

{% block title %}Заголовок статьи{% endblock %}

{% block content %}
<ul>
    <li><a href="/sub/">Подписка</a></li>
    <li><a href="/articles/">Список статей</a></li>
</ul>
    <div class="container">
        <div class="header">
            <h3>{{context.title}}</h3>
            <!--<img src="{% get_media_prefix %}{{context.image}}" alt="Лого">-->
            <img src="{{context.image.url}}" alt="Лого">
            <p>{{context.text}}</p>
        </div>
    </div>
{% endblock %}

